################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/DiarioDeBordoAeC/FileContentIndex
/.vs/slnx.sqlite
/.vs/DiarioDeBordoAeC/v17/.wsuo
/.vs/DiarioDeBordoAeC/v17/DocumentLayout.backup.json
/.vs/DiarioDeBordoAeC/v17/DocumentLayout.json
